{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true
}